@import "../config"

.button
    padding: 15px 20px
    border: 1px solid $primary-color
    background-color: $primary-color
    color: $primary-color-compliment
    cursor: pointer

    &--full
        width: 100%
        display: block
